body
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(255, 228, 196, 0.61);
}

header
{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  background-color: bisque;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-shadow: 0 5px 3px rgba(128, 128, 128, 0.281);
  border-bottom: 1px solid gray;

  svg{
    width: 30px;
    fill: purple;
  }
}

footer
{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  background-color: bisque;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-shadow: 0 5px 3px rgba(128, 128, 128, 0.281);
  border-bottom: 1px solid gray;
  position: absolute;
  top: 90vh;
  width: 100vw;
  padding: 10px;

}

main
{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

main > div
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  height: max-content;
  background-color: bisque;
  padding: 30px;
  place-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 0 5px 3px rgba(128, 128, 128, 0.281);
}

button.big-round-button-container
{
  font-family: cursive;
  width: 200px;
  height: 200px;
  background-color: purple;
  border-radius: 100%;
  padding: 25px;
  outline: 2px solid yellow;
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}

button.big-round-button-container.connected
{
  outline: 3px inset black;
  background-color: green;
  color: white;
}

button.big-round-button-container.connected:focus
{
  outline: 3px outset black;
}